@font-face {
  font-family: 'GmarketSansTTFBold';
  src: url('../fonts/GmarketSansTTFBold.ttf');
}
@font-face {
  font-family: 'GmarketSansTTFLight';
  src: url('../fonts/GmarketSansTTFLight.ttf');
}
@font-face {
  font-family: 'GmarketSansTTFMedium';
  src: url('../fonts/GmarketSansTTFMedium.ttf');
}
